<main class="form-signin">
  <form class="form-wrapper" (ngSubmit)="onSignUpClick()">
    <div
      [ngClass]="{
        'alert alert-danger': alerts.danger
      }"
      role="alert"
      *ngIf="alerts.message"
    >
      {{ alerts.message }}
    </div>
    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
    <label for="name" class="visually-hidden">Name</label>
    <input
      type="text"
      id="name"
      name="name"
      class="form-control"
      [(ngModel)]="user.name"
      placeholder="Name"
      required
    />
    <label for="login" class="visually-hidden">Login</label>
    <input
      type="text"
      id="login"
      name="login"
      class="form-control"
      [(ngModel)]="user.login"
      placeholder="Login"
      required
    />
    <label for="email" class="visually-hidden">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      class="form-control"
      placeholder="Email address"
      [(ngModel)]="user.email"
      required
    />
    <label for="password" class="visually-hidden">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      [(ngModel)]="user.password"
      placeholder="Password"
      required
    />
    <button class="w-100 btn btn-lg btn-primary mt-5" type="submit">
      Sign up
    </button>
  </form>
</main>
